@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

/* * {
  box-sizing: border-box;
}
body {
  background: #1c8ef9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-alternate {
  padding: 10px;
  justify-content: center;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 90%;
  margin: auto;
  background: #a2a2f1;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px 50px 30px 50px;
  border-radius: 55px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #15978a;
  transition: all 0.5s ease;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(6, 255, 251, 0.25);
  border-bottom: 1px solid rgba(125, 134, 146, 0.279);
  transition: all 0.8s ease;
}

ul li:hover a {
  padding-left: 100px;
  background: #efe7bc;
  color: black;
}

.sidebar ul a i {
  margin-right: 16px;
} */
